* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter Tight", sans-serif;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #000080, #000033);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header {
  background: #000033;
  background: var(--bggradient);
}

header a {
  /* font-family: var(--Sniglet-font); */
  font-size: 0.9em;
  color: whitesmoke;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

header .brand {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #ff0000;
}

header .navbar-brand:hover {
  color: #ff0000;
}

header .nav-link:hover {
  color: #ff0000;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
  border-radius: 50%;
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
  background-color: #000080;
  color: #fff;
}

/* ************************************ */

.section-1 {
  padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .tech img {
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: #fff;
  border-radius: 30px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0 25px 42px #000033;
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: #000;
}

.projects > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.projects > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.projects .cards .card {
  width: 22rem;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
}

.cards .title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card-body .pricing {
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing > h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
  background: var(--bggradient);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff0000;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #ff0000;
}

footer .column i + i {
  padding: 0 0.5em;
}

footer i:hover {
  color: #fff;
}

footer i {
  margin-left: 0.5rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}
